.title {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.fz-26 {
  font-size: 26px;
}

.fz-30 {
  font-size: 30px;
}

.fz-40 {
  font-size: 40px;
}

.fz-70 {
  font-size: 70px;
}