@import "variables";

@mixin button {
  height: 48px;
  width: 250px;
  border-radius: 8px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  cursor: pointer;

  color: $white;

  background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
  background-blend-mode: darken;

  border: none;
  &:hover {
    filter: brightness(0.9);
  }
  &:active {
    filter: brightness(0.8);
  }

  &:disabled {
    background: $gray-light;
  }
}

@mixin text {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: $black;
  text-align: left;
}